html{
    height: 100%;
}


/*body*/
#bg-image{
    background: linear-gradient(to right, #4d4d4d, rgba(0, 0, 0, 0.7)),
    url(../img/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* btn */
.btn-nav{
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.btn-line{
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all 0.1s ease-out;
}


/* menu */
#menu{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one 🙂       */
    z-index: 1;
}
.left{ 
    background: rgba(0, 0,0,0.4);
    visibility: hidden;

}

.right{
    background: rgba(0, 0,0,0.9);
    font-size: 50px;
    visibility: hidden;
}

.left,.right{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one 🙂       */
    display: inline-block;
    text-align: center;
    display:flex;
    align-items:center;
}

a:hover{
    color: yellow;
    text-decoration: none;
}

.item{
    position: relative;
}


/* Main */
.main{
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    display:flex;
    align-items:center;
}

i:hover{
    color: yellow;
}
.lg-heading{
    font-size: 6rem;
}
.sm-heading{
    font-size: 2rem;
}


/*content*/
.content{
    position: relative;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one 🙂       */
    margin-top: 50px;
    margin-bottom: 30px;
}

.bio-experience{
    padding: 10px;
    border-bottom: 5px solid #ffad33;
}

.row-margin{
    margin-top: 50px;
}

img{
    border: 3px solid #ffad33;
}

.img-border{
    border: 2px solid white;
}

/*Area Footer*/
.footer{
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
}


/*background color*/
.bg-brigthness{
    background: #404040;
}

.bg-darkess{
    background: #333333;
}